/* главный цвет текста #212121 */
/* вторичный цвет текста #757575 */
/* акцент  #2196F3 */
/* фон #FFFFFF */
/* цвет текста и кнопок #FFFFFF */
/* фон футера #2F303A */
/* вторичный фон секций #F5F4FA */
/* цвет ссылок в футере rgba(255, 255, 255, 0.6) */

:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent: #2196f3;
  --background-color: #ffffff;
  --button-text-color: #ffffff;
  --footer-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --footer-links-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* header - section */
.logo {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.2;

  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-decoration: none;
}

.accent-logo {
  color: var(--accent);
}

.navigation {
  list-style: none;
}

.nav-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
  text-decoration: none;
}

.nav-item:hover,
.nav-item:focus {
  color: var(--accent);
}

.contacts {
  list-style: none;
}
.contacts-items {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}

.contacts-items:hover,
.contacts-items:focus {
  color: var(--accent);
}

/* main - section */

/* hero - section */
.hero {
  background-color: var(--footer-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-heading {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--button-text-color);
}

.button {
  color: var(--button-text-color);
  background-color: var(--accent);
}

/* peculiarities */
.hidden {
}

.list {
  list-style: none;
}

.peculiarities-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--secondary-text-color);
}

/* What are we doing */

.seconady-heading {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

/* teem section */
.teem-section {
  background-color: var(--secondary-background-color);
}

.list-item {
  background-color: var(--background-color);
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.proffesion {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

/* footer */

.footer {
  background-color: var(--footer-background-color);
}

.white-logo {
  color: var(--button-text-color);
}

.address {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #ffffff;
  text-decoration: none;
  font-style: normal;
}

.contacts-footer {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--footer-links-color);
  text-decoration: none;
  font-style: normal;
}

/* portfolio */

.filter-buttons {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
  cursor: pointer;
}

.filter-buttons:hover,
.filter-buttons:focus {
  color: var(--button-text-color);
  background-color: var(--accent);
}

.card {
  background-color: var(--background-color);
}

.card-link {
  text-decoration: none;
}

.card-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--secondary-text-color);
}

.card-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
